
.container {
  height: 100%;
}

.sidenav {
  width: 15rem;
  background-color:#ff3636;
  margin-right: .6rem;
}

.sidenav img {
  display: block;
  margin: 0px auto;
}

.sidenav a {
  color: #fff;
}

.sidenav a:hover {
  background: #fff;
  color: #ff3636;
  border-radius: 20px;
}

.sidenav i {
  margin-right: .6rem;
}




.menu {
  margin: 1rem 0 0 1rem;
}
