
.container {
  height: 100%;
}

.sidenav {
  width: 15rem;
  background-color:#ff3636;
  margin-right: .6rem;
}

.sidenav img {
  display: block;
  margin: 0px auto;
}

.sidenav a {
  color: #fff;
}

.sidenav a:hover {
  background: #fff;
  color: #ff3636;
  border-radius: 20px;
}

.sidenav i {
  margin-right: .6rem;
}
.drop-menu {
  color: #fff;
  border-radius: 20px;
}
.drop-menu:hover {
  background: #fff;
  color: #ff3636;
  border-radius: 20px;
}
.mat-menu-item {
  width: 15rem;
  border-radius: 20px;
}
.mat-menu-item:hover {
  background-color: #ff3636;
  color: #fff;
  border-radius: 20px;
}
.menu {
  margin: 1rem 0 0 1rem;
}

@media only screen and (max-width: 415px) {
  .drop-menu:hover {
    color: #fff;
    border-radius: 20px;
  }

}




